#menu {
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;  
    margin: auto;
    text-align:center
}
#links {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
}
#menu span {
  font-size: 20px;
  text-align: center;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li a {
  color:#d04c4c;
}
